$breakpoints: (
  usm: 450px,
  xsm: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

@use "sass:map";

@mixin respond-up($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
@mixin respond-down($breakpoint) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}