@mixin ele($width, $height, $bg) {
  content: "";
  width: #{$width};
  height: #{$height};
  background-color: #{$bg};
  position: absolute;
}

// ------------------ start: circle
// ------------------ end: circle
@mixin ele-circle($dimensions, $bg) {
  content: "";
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
  position: absolute;
}
@mixin circle($dimensions, $bg) {
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
}
@mixin border-circle($dimensions, $bg, $border-wd, $border-c) {
  content: "";
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border: $border-wd solid $border-c;
  border-radius: 50%;
  position: absolute;
}
@mixin outline-circle($dimensions, $bg, $round, $outline) {
  content: "";
  width: #{$dimensions};
  height: #{$dimensions};
  background-color: $bg;
  border-radius: 50%;
  border: $round solid $bg;
  border-radius: 50%;
  outline: $round solid $outline;
  position: absolute;
}
// ------------------ start: shapes
@mixin ele-arrow($dir, $width, $color) {
  content: "";
  border: $width solid transparent;
  border-#{$dir}-color: $color;
  position: absolute;
}
// ------------------ end: shapes
// ------------------ start: grid-system
@mixin grid-auto-columns($min: 200px, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}

@mixin grid-auto-rows($min: 200px, $gap: 1rem) {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}

@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @if $gap != null {
    gap: $gap;
  }
}

// ------------------ end: grid-system
// ------------------ start: overlay & fill-bg
@mixin overlay($bg) {
  width: 100%;
  height: 100%;
  background-color: $bg;
  position: absolute;
  top: 0;
  left: 0;
}
@mixin ele-overlay($bg) {
  content: "";
  width: 100%;
  height: 100%;
  background-color: $bg;
  position: absolute;
  top: 0;
  left: 0;
}
@mixin fill-bg($bg, $time) {
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: $bg;
    position: absolute;
    left: 0;
    top: 0;
    transition: $time;
    z-index: 0;
  }
  &:hover::before {
    width: 100%;
  }
}
// ------------------ end: overlay & fill-bg
// ------------------ start: proress
@mixin ele-load($width, $height, $bg, $progress, $progress-bg) {
  width: $width;
  height: $height;
  background: $bg;
  position: relative;
  &::before {
    content: "";
    width: $progress;
    height: 100%;
    background-color: $progress-bg;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@mixin load($width, $height, $bg, $progress, $progress-bg) {
  width: $width;
  height: $height;
  background: $bg;
  position: relative;
  overflow: hidden;
  span {
    width: $progress;
    height: 100%;
    background-color: $progress-bg;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@mixin d-tracker($color, $fc, $bg, $arrow) {
  color: $color;
  font-size: $fc;
  background-color: $bg;
  padding: 2px 5px;
  border: none;
  border-radius: 6px;
  position: absolute;
  bottom: 16px;
  transform: translatex(50%);
  &::before {
    content: "";
    border: $arrow solid transparent;
    border-top-color: $bg;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
  }
}
// ------------------ end: progress
// ------------------ start: icon-shapes
// done
@mixin icon-shape($width, $height, $bg, $color) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  color: $color;
}
// done
@mixin icon-circle($dimensions, $bg, $color) {
  width: $dimensions;
  height: $dimensions;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  background-color: $bg;
  border-radius: 50%;
}
// ------------------ end: icon-shapes
// toggle-btn:
@mixin toggle-menu($width, $height, $space, $bg) {
  background-color: transparent;
  position: relative;
  span {
    display: block;
    margin-bottom: $space;
    width: $width;
    height: $height;
    background-color: $bg;
  }
}
@mixin toggle-btn($width, $height, $ball, $move) {
  .toggle-check {
    display: none;
    appearance: none;
    &:checked + .toggle-switch {
      background-color: $blue;
    }
    &:checked + .toggle-switch:before {
      content: "\f00c";
      color: $blue;
      left: $move;
    }
  }
  .toggle-switch {
    width: $width;
    height: $height;
    background-color: #ccc;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
  }
  .toggle-switch:before {
    content: "\f00d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    @include icon-circle($ball, $alt-widget-bg, #aaa);
    transition: 0.3s;
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

@mixin button(
  $color: #fff,
  // text color
  $bg: #3498db,
  // background color
  $font-size: 1rem,
  // font size
  $font-weight: normal,
  // font size
  $padding: 10px 20px,
  // padding
  $radius: 5px,
  // border-radius
  $hover-bg: null,
  // hover background
) {
  color: $color;
  background-color: $bg;
  font-size: $font-size;
  font-weight: $font-weight;
  padding: $padding;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    @if $hover-bg != null {
      $hover-color: $hover-bg;
    } @else {
      $hover-color: scale($bg, -10%);
    }
    background-color: $hover-bg;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
