// background-color:
$main-bg-color: #fff7ed;
$alt-bg-color: #ffead0;
$light-bg-color: #ffffff;

$dark-color: #161616;
$alt-dark-color: #4d4d4d;
$light-color: #ffffff;

// border-colors:
$border-ccc: #ccc;
$border-ddd: #ddd;
$border-eee: #eee;

// colors:
$basic: #fff7ed;
$black: #161616;
$alt-black: #4d4d4d;
$white: #ffffff;
$orange: #ff8c38;
$green: #115e59;
$gold: gold;

$footer-font-color: #aaaaaa;
$footer-bg-color: #252525;

$main-raduis: 5px;
