@use "../../styles/helpers/variables" as *;
@use "../../styles/helpers/mixins" as *;
@use "../../styles/helpers/breakpoints" as *;
/*
  About Page Styles:
  [1] about
  [2] responsive
*/
/* ----- start: [1] about ----- */
.about-page .container {
  .content {
    @include flex(column, center, center, 30px);
    margin-bottom: 30px;
    img {
      max-width: 550px;
      border-radius: $main-raduis;
    }
    .text-content {
      color: $dark-color;
      h1 {
        line-height: 1.3;
      }
      p {
        font-size: 18px;
        margin: 10px 0 0;
      }
    }
  }
  .vans-link {
    background-color: $alt-bg-color;
    padding: 20px;
    border-radius: $main-raduis;
    h2 {
      color: $dark-color;
      line-height: 1.3;
      margin: 0 0 15px;
    }
    a {
      display: block;
      width: fit-content;
      @include button($white, $dark-color, 18px, 600, 15px 30px, $main-raduis);
    }
  }
}
/* ----- end: [1] about ----- */
/* ----- start: [2] responsive ----- */
@include respond-down("md") {
  .about-page .container .content img {
    max-width: 100%;
  }
}
@include respond-down("sm") {
  .about-page .container .content .text-content {
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 22px;
    }
  }
  .vans-link h2 {
    font-size: 18px;
  }
}
/* ----- end: [2] responsive ----- */
