*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body,
main,
section,
header,
footer,
nav,
#root {
  position: relative;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
button,
a,
input,
textarea,
select,
option,
button {
  cursor: pointer;
}
textarea {
  resize: none;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  background-color: transparent;
}
